@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Sans:wght@300;400;600&display=swap');

html,
body {
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
}

input,
textarea {
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  color: #676767;
}
